workflows/scan-cv-workflow/workflow.asl.yml
Comment: "Scan user CV document for data"
StartAt: checkFileType
States:
  checkFileType:
    Type: Choice
    Choices:
      - Variable: $.extension
        StringEquals: "txt"
        Comment: Is a text file?
        Next: copyFileToExtractedBucket
    Default: extractData
  extractData:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:textract:analyzeDocument
    Parameters:
      Document:
        S3Object:
          Bucket: !Ref inputBucket
          Name.$: $.key
      FeatureTypes:
        - TABLES
        - FORMS
    ResultPath: "$.taskresult"
    Next: extractText
  extractText:
    Type: Task
    Resource: !GetAtt extractText-lambda.Arn
    TimeoutSeconds: 28
    End: true
  copyFileToExtractedBucket:
    Type: Task
    Resource: !GetAtt copyFile-lambda.Arn
    TimeoutSeconds: 28
    End: true
